.holder__title {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 24px;
  line-height: 22px;
  text-align: right;
  margin-bottom: 15px;
}

.holder__list {
  list-style: none;
  padding: 0;
  text-align: right;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 0;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.holder__label {
  display: flex;
  justify-content: right;
}

.holder__checkmark {
  height: 13px;
  width: 13px;
  border: 1.5px solid @basic-white;
  border-radius: 50%;
  position: relative;
  margin-top: 5px;
  margin-left: 15px;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border: 1px solid @basic-white;
  }
}

.holder__input--custome {
  position: relative;

  &:checked ~ .holder__checkmark::before {
    content: "";
    height: 8px;
    width: 5px;
    background-color: @basic-green;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
  }

  &:checked ~ .holder__checkmark::after {
    content: "";
    height: 3px;
    width: 11px;
    border-bottom: 1.5px solid @basic-white;
    border-left: 1.5px solid @basic-white;
    position: absolute;
    transform: rotate(-45deg);
    left: 2px;
    top: 0;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border-bottom: 1px solid @basic-white;
      border-left: 1px solid @basic-white;
      top: 1px;
      left: 3px;
    }
  }

  &:hover ~ .holder__checkmark::after {
    border-bottom: 1.5px solid @basic-dark-green;
    border-left: 1.5px solid @basic-dark-green;
  }

  &:focus ~ .holder__checkmark {
    outline: 1.8px solid @basic-grey;
  }
}

.holder__span {
  font-size: 16px;
  font-weight: 200;
}

.holder__input--checkbox-grey ~ .holder__checkmark {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid @basic-grey;
  text-align: right;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border: 1px solid @basic-grey;
  }
}

.holder__input--checkbox-grey:checked ~ .holder__checkmark {
  border: 1.5px solid @basic-blue;
  background-color: @basic-blue-opacity;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border: 1px solid @basic-blue;
  }
}

.holder__input--checkbox-grey {
  &:hover ~ .holder__checkmark {
    border: 1.5px solid @basic-blue;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border: 1px solid @basic-blue;
    }
  }

  &:focus ~ .holder__checkmark {
    border: 1.5px solid @basic-green;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border: 1px solid @basic-green;
    }
  }
}

.holder__list--margin {
  margin-bottom: 40px;
}

.holder__text {
  font-weight: 100;
  text-align: right;
  margin: 0;
}

.holder__text span {
  text-transform: uppercase;
}
