.holder__title {
  font-family: "Robot", "Arial", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  text-align: right;
}

.holder__list {
  list-style: none;
  padding: 0;
  text-align: right;
  text-transform: capitalize;
  font-size: 16px;
}

.holder__label {
  display: flex;
  justify-content: right;
}

.holder__input--level-one {
  position: relative;
  z-index: -1;
}

.holder__checkmark {
  position: relative;
  right: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1.5px solid @basic-white;
  text-align: right;
  margin-left: 15px;
}

.holder__input--level-one:checked ~ .holder__checkmark {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-image: url("../img/checked.svg");
  background-position: center;
  background-size: 24px;
  background-clip: border-box;
  background-repeat: no-repeat;
}

.holder__span {
  text-align: right;
}

.holder__list--level-two .holder__checkmark {
  position: relative;
  right: 0;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.8px solid @basic-grey;
  text-align: right;
}

.holder__list--level-two {
  margin-bottom: 40px;
}

.holder__item {
  margin-bottom: 5px;
}

.holder__text {
  text-align: right;
  margin: 0;
}

.holder__text span {
  text-transform: uppercase;
}
