.list {
  font-family: "Robot", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  min-width: 1200px;
  color: @basic-black;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.list__item {
  width: 240px;
  height: 250px;
  padding: 25px;
  box-shadow: 0 3px 15px @basic-black-opacity;
  border-radius: 15px;
  background-color: @basic-green;
  color: @basic-white;
}

.list__wrap {
  display: flex;
  justify-content: space-between;
}

.list__image-holder {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: @basic-green-opacity;
}

.list__image-holder svg {
  position: relative;
  top: 16px;
  left: 18px;
}

.list__title {
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0;
}

.list__item--level-two {
  background: @basic-white;
  color: @basic-grey;
}

.list__image-holder--level-two {
  background-color: @basic-white;
}
