// Colors

@basic-black: #000000;
@basic-white: #FFFFFF;
@basic-grey:#6B6B6C;
@basic-dark-grey: #363738;
@basic-green: #61c98b;
@basic-green-opacity: rgba(88, 165, 119, 0.6);
@basic-black-opacity: rgba(0, 0, 0, 0.15);
